#CreditCard {
    font-family: Consolas, cursive; 
    vertical-align : inherit;
    text-align: center;
}

.cc-header {
    padding: 5px;
    text-align: left;
}
.cc-form {
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    width: 80%;
}
.cc-form .form-control {
    border-radius: 0px;

}

.cc-expiry {
    width: 155px;
    display: inline-block;
    margin-right: 20px;
}
.cc-cvv {
    width: 100px;
    display: inline-block;
}