html body #root {
    position: relative;
}

html body .sidebar {
    position: absolute;
    top: 0;
    z-index: 9;
}

html, body, #root {
    height:100%;
    width: 100%;
}

html body .sample-card-root {
    padding: 10px;
}

html body .Toastify__toast-container--bottom-center {
    transform: inherit;
}

